@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'PT Serif', serif;
  background-color: rgba(231, 229, 229, 0.917);
}

.pageHeader {
  margin-top: 60px;
}

.pageContent {
  margin-top: 60px;
}